<div class="row" style="margin-block: 35px;">
  <div class="col-9">
    <h2>Books Details</h2> 
  </div>
  <div class="col">
    <button type="button" class="btn" style="padding-inline: 20px;"><%= link_to 'Assigning Tags To Books', assign_tag_books_path %></button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.price %></td>
        <td>
          <% book.tags.each do |tag| %>
            <div class="btn btn-primary" style="margin-bottom: 5px;"><%= tag.name %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
